@model RoverController.Web.DTOs.Misc.BillingDetailsDTO

@{
    ViewBag.Title = "Billing Details";
}

@section Header {

    @Styles.Render("~/Porto/vendor/css/pnotify")
    @Styles.Render("~/Porto/datatables/css")
}

@section Breadcrumbs {
    <header class="page-header">
        <h2>@ViewBag.Title</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="icons icon-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Billings")">
                        <i class="fas fa-hand-holding-usd"></i>
                        <span>All Billing Info</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>@ViewBag.Title</span>
                    </a>
                </li>
            </ol>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"></a>*@
        </div>
    </header>
}

@section PageButtons {
}

<h2 class="mt-0 mb-0">@Html.DisplayFor(model => model.ClientFullName)</h2>
<p>This is an overview of all your users.</p>

<div class="row">
    <div class="col-lg-12">
        <section class="card card-featured card-featured-secondary">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                    @*<a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>*@
                </div>

                <h2 class="card-title">@Html.DisplayNameFor(model => model.RegularUsers)  (@Model.RegularUsers.Count())</h2>
                <p class="card-subtitle">These are all the full price users.</p>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-lg mb-0 table-striped table-hover clickable">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Roles</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.RegularUsers)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@string.Join(", ", user.Roles)</td>
                                    <td>@user.CreatedDate.Value.ToString("MMM d yyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="card card-featured card-featured-success card-collapsed">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                    @*<a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>*@
                </div>

                <h2 class="card-title">@Html.DisplayNameFor(model => model.NewRegularUsers) (@Model.NewRegularUsers.Count())</h2>
                <p class="card-subtitle">These are the new users that were added late in the month and WILL NOT be counted.</p>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-lg mb-0 table-striped table-hover clickable">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Roles</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.NewRegularUsers)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@string.Join(", ", user.Roles)</td>
                                    <td>@user.CreatedDate.Value.ToString("MMM d yyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="card card-featured card-featured-danger card-collapsed">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                    @*<a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>*@
                </div>

                <h2 class="card-title">@Html.DisplayNameFor(model => model.DeletedRegularUsers) (@Model.DeletedRegularUsers.Count())</h2>
                <p class="card-subtitle">These are the users that were deleted late in the month and <strong>WILL</strong> be counted.</p>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-lg mb-0 table-striped table-hover clickable">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Roles</th>
                                <th>Deleted On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.DeletedRegularUsers)
                            {
                                var deletedDate = string.Empty;
                                if (user.DeletedDate.HasValue)
                                {
                                    deletedDate = user.DeletedDate.Value.ToString("MMM d yyy");
                                }
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@string.Join(", ", user.Roles)</td>
                                    <td>@deletedDate</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/Porto/vendor/pnotify/js")
    @Html.Partial("pvDatatables")

    <script>
        $(document).ready(function () {

            if('@ViewBag.Saved' == 'True')
            {
                new PNotify({
                    title: 'Success!',
                    text: 'Client saved.',
                    type: 'success'
                });
            }

            $('.table').DataTable({});

        });
    </script>
}