@model IEnumerable<RoverController.Web.DTOs.Misc.BillingInfoDTO>

@using RoverController.Web.HtmlHelperExtensions
@using RoverController.Lib

@{
    ViewBag.Title = "All Billing Info";
}

@section Header {

    @Styles.Render("~/Porto/vendor/css/pnotify")
    @Styles.Render("~/Porto/datatables/css")
}

@section Breadcrumbs {
    <header class="page-header">
        <h2>@ViewBag.Title</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="icons icon-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fas fa-hand-holding-usd"></i>
                        <span>@ViewBag.Title</span>
                    </a>
                </li>
            </ol>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"></a>*@
        </div>
    </header>
}

@section PageButtons {
}

<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-lg mb-0 table-striped table-hover clickable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClientName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClientFullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClientDisplayName)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.RegularUsersCount)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.RecentlyAddedRegularUsersCount)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.RecentlyDeletedRegularUsersCount)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Total)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var client in Model)
                            {
                                Html.RenderPartial("pvBillingRow", client);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/Porto/vendor/pnotify/js")
    @Html.Partial("pvDatatables")

    <script>
        $(document).ready(function () {

            if('@ViewBag.Saved' == 'True')
            {
                new PNotify({
                    title: 'Success!',
                    text: 'Branch saved.',
                    type: 'success'
                });
            }

            $('.table').DataTable({});

            $('.table').on('click', 'tbody tr', function (event) {

                if (getSelection().toString() != "")
                    e.stopPropagation();

                var clientId = $(this).attr('clientId');
                var detailsUrl = '@Url.Action("Details", "Billing", new { clientId = "primaryKey" })';
                detailsUrl = detailsUrl.replace("primaryKey", clientId);

                location = detailsUrl;
            });

        });
    </script>
}