@model RoverController.Web.DTOs.Misc.BillingInfoDTO

<tr clientId="@Model.ClientId">
    <td>
        @Model.ClientName
    </td>
    <td>
        @Model.ClientFullName
    </td>
    <td>
        @Model.ClientDisplayName
    </td>
    <td class="text-center">
        @Model.RegularUsersCount
    </td>
    <td class="text-center">
        @Model.RecentlyAddedRegularUsersCount
    </td>
    <td class="text-center">
        @Model.RecentlyDeletedRegularUsersCount
    </td>
    <td class="text-center">
        @Model.Total
    </td>
</tr>