@model RoverController.Web.ViewModels.Account.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
</hgroup>

<div class="alert alert-info">
    <i class="fas fa-envelope"></i>&nbsp; Enter your username below and we will send you reset instructions!
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger help-block small" })

    <div class="form-group mb-0">
        <div class="input-group">
            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Username" } })
            <span class="input-group-lg">
                <button class="btn btn-primary btn-block btn-xl" type="submit">Reset!</button>
            </span>
        </div>
    </div>

    <p class="text-center mt-3">Remembered? <a href="@Url.Action("Login")">Sign In!</a></p>
}
