@model RoverController.Web.ViewModels.UserViewModel

@{
    ViewBag.Title = "New User";

    var dropdownAttributes = new Dictionary<string, object>(Html.GetUnobtrusiveValidationAttributes(ViewData.TemplateInfo.HtmlFieldPrefix));
    dropdownAttributes.Add("class", "form-control populate placeholder");
    dropdownAttributes.Add("data-plugin-selectTwo", null);
    if (Request.Browser.IsMobileDevice)
    {
        dropdownAttributes.Add("data-plugin-options", "{\"selectOnClose\": false, \"minimumResultsForSearch\": -1}");
    }
    else
    {
        dropdownAttributes.Add("data-plugin-options", "{\"selectOnClose\": false}");
    }
}

@section Breadcrumbs {
    <header class="page-header">
        <h2>@ViewBag.Title</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="icons icon-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Users")">
                        <i class="icons icon-people"></i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <span>@ViewBag.Title</span>
                </li>
            </ol>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"></a>*@
        </div>
    </header>
}

<div class="row">
    <div class="col-lg-8">

        @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m => m.ClientId)
            @Html.HiddenFor(m => m.PrimaryClientId)

            <section class="card">
                <div class="card-body">

                    @Html.Partial("~/Views/Account/pvRegisterUserFormFields.cshtml", Model)

                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                @Html.LabelFor(m => m.RoleName, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.RoleName, new SelectList(ViewBag.RolesList, "Key", "Value"), "", dropdownAttributes)
                                @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "text-danger help-block small" })
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div style="margin-bottom: 20px;">&nbsp;</div>

            <div class="form-group mb-0 fixed-to-bottom-mobile fixed-to-bottom">
                <div class="row">
                    @if (Request.Browser.IsMobileDevice)
                    {
                        <div class="col-md-12">
                            <div class="btn-group d-flex" role="group">
                                <button type="submit" class="btn btn-primary btn-block mt-3 js-save">Save</button>
                                @*<button type="button" class="btn btn-quaternary btn-block mt-3 js-cancel">Cancel</button>*@
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block mt-3 js-save">Save</button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            @*<button type="button" class="btn btn-quaternary btn-block mt-3 js-cancel">Cancel</button>*@
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/expressive") @*load expressive.annotations.validate.js*@

    <script>
    $(document).ready(function () {
        $("#@Html.IdFor(m=>m.Password)").rules("add", {
            required: true,
            messages: { required: 'The Password field is required.' }
        });
    });
    </script>
}