<!DOCTYPE html>
<html class="dark fixed">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Delivery Orders CMS">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Page title -->
    <title>RoverController | App</title>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor styles -->
    @Styles.Render("~/Porto/vendor/css/bootstrap")
    @Styles.Render("~/Porto/vendor/css/animate")

    @Styles.Render("~/Porto/vendor/css/simple-line-icons")
    @Styles.Render("~/Porto/vendor/css/font-awesome")
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">*@

    @RenderSection("Header", false)

    <!-- App styles -->
    @Styles.Render("~/Porto/theme/css")
    @Styles.Render("~/Porto/theme/css/skin")
    @Styles.Render("~/Porto/theme/css/custom")
    @Styles.Render("~/Porto/theme/css/skin/custom")

    @Scripts.Render("~/Porto/js/modernizr")
</head>
<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <div class="inner-wrapper">

                <section role="main" class="content">

                    @RenderSection("Breadcrumbs", required: false)

                    @{
                        var errors = false;

                        if (ViewBag.Errors != null)
                        {
                            if (ViewBag.Errors is List<string>)
                            {
                                if ((ViewBag.Errors as List<string>).Count() > 0)
                                {
                                    errors = true;
                                }
                            }
                        }
                    }

                    <div class="row page-errors">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="validation-message">
                                @{
                                    var style = string.Empty;
                                    if (errors)
                                    {
                                        style = "display: block;";
                                        <ul style="@style">

                                            @foreach (var error in ViewBag.Errors)
                                            {
                                                <li>
                                                    <label class="error" style="">@error</label>
                                                </li>
                                            }
                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    @if (errors)
                    {
                        <div style="margin-bottom: 40px;"></div>
                    }

                    <a href="/" class="logo float-left">
                        <img src="~/Content/levitica-logo.png" style="width: 150px; margin-top: 20px;" alt="Levitica" />
                    </a>

                    <div class="panel card-sign">
                        <div class="card-title-sign mt-3 text-right">
                            <h2 class="title text-uppercase font-weight-bold m-0"><i class="fa fa-user mr-1"></i> @ViewBag.Title</h2>
                        </div>
                        <div class="card-body">
                            @RenderBody()
                            <p class="text-center text-muted mt-3 mb-3">&copy; Copyright Levitica 2017. All Rights Reserved.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- end: page -->

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
            </p>
        </div>
    </div>

    <!-- Vendor scripts -->
    @*@Scripts.Render("~/Porto/vendor/js/pace")*@ @*Automatic page load progress bar*@
    @Scripts.Render("~/Porto/vendor/js/jquery")
    @Scripts.Render("~/Porto/vendor/js/jquery-browser-mobile") @*Detects mobile browser info*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Porto/vendor/js/popper") @*Placing poppers (enhanced tooltips) around elements is just that easy!*@
    @Scripts.Render("~/Porto/vendor/js/bootstrap")
    @Scripts.Render("~/Porto/vendor/js/nanoscroller") @*Mac OS X Lion-styled scrollbars for your website*@
    @Scripts.Render("~/Porto/vendor/js/magnific-popup") @*Fast, light and responsive lightbox plugin*@
    @Scripts.Render("~/Porto/vendor/js/jquery-placeholder") @*A jQuery plugin that enables HTML5 placeholder behavior for browsers that aren’t trying hard enough yet*@
    @Scripts.Render("~/Porto/vendor/js/select2")

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Porto/vendor/bootbox/js")
    @Scripts.Render("~/Porto/vendor/js/common")
    @*<script src="~/Content/Themes/Porto/vendor/common/common.js"></script>*@

    <!-- App scripts -->
    @Scripts.Render("~/Porto/app/js")
</body>
</html>