@using RoverController.Web.Helper
@using RoverController.Lib

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    int id = 0;
    if (ViewContext.RouteData.Values["id"] != null)
    {
        int.TryParse(ViewContext.RouteData.Values["id"].ToString(), out id);
    }
    int selectedClientId = 0;
    if (Request.Params["clientId"] != null)
    {
        int.TryParse(Request.Params["clientId"].ToString(), out selectedClientId);
    }
    var statusId = Request.Params["statusId"] == null ? string.Empty : Request.Params["statusId"].ToString();
    var isLoggedIn = User.Identity.IsAuthenticated;
    var userName = User.Identity.Name;
}

<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle hidden-xs hidden-mobile" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">

                <ul class="nav nav-main">
                    @*---------------------------------- Dashboard ----------------------------------*@
                    <li class="@(controller == "home" ? "nav-active" : "")">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="icons icon-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>


                    @*---------------------------------- Missions ----------------------------------*@
                    <li class="nav-parent @(controller == "missions" ? "nav-active nav-expanded" : "")">
                        <a class="" href="#">
                            <i class="fas fa-space-shuttle"></i>
                            <span>Missions</span>
                        </a>
                        <ul class="nav nav-children">
                            <li class="@(controller == "missions" && (action == "index" || string.IsNullOrEmpty(action)) ? "nav-active" : "")">
                                <a class="nav-link" href="@Url.Action("Index", "Missions")">
                                    All Missions
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</aside>